@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-[#C5DDF8];
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
		/* Remove gradient */
		background-image: none;
	}
}

@layer components {

	/* Flat, square buttons for Antigravity style */
	.btn-flat {
		@apply bg-white px-6 py-3 font-bold text-neutral shadow-sm hover:shadow-md active:shadow-inner transition-shadow rounded-none;
	}

	/* Flat, square cards */
	.card-antigravity {
		@apply relative overflow-hidden bg-white shadow-none hover:shadow-lg transition-shadow duration-200 rounded-none;
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}
}